/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: #333;
  }
  
  h1 {
    /* padding: 20px 0;
    margin: 0;
    margin-bottom: 10px; */
    font-size: 28px;
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  h2 {
    font-size: 24px;
  }

  p {
    font-weight: normal;
  }

  
  
  a {
    color: #d21034;
  }
  
  /* Selecting elements by class */
  .col-md-8 {
    padding: 10px;

  }
  .col-md-4 {
    padding: 10px;

  }
  .col-md-6 {
    padding: 2px;
  }

  .jumbotron {
    min-height: 50px;
    padding: 20px;
    margin: 20px;
    /* font-weight: 800; */
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* Selecting elements by ID */
  #main-bio,
  #contact-info,
  #inset-img {
    float: left;
    margin: 10 auto;
    padding: 10 auto;
  }
  

  #curr-viz {
    border-radius: 10px;
    border-color: blue;
    border-width: 5px;
  }

  
  #inset-img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }

  /* table stuff */
  
  td {
    font-weight: normal;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }